## Code to convert & structure generic start and end correctly

This file should be in the same folder as where the generics are stored

In [121]:
import csv
import pandas as pd

Input the files as a list below (from XA2.txt to XA72.txt)

In [117]:
myfile = ['XA2.txt','XA3.txt','XA72.txt']

In [125]:
mylist = []
for ele in myfile:
    with open(ele, newline = '') as file:                                                                                          
        file_reader = csv.reader(file, delimiter='\t')
        for row in file_reader:
            row.insert(1, ele[:-4])
            mylist.append(row)
            #print(row)
df = pd.DataFrame(mylist, columns=['level','generic','contract','start','end'])

At this point, the df still keeps dates at mm/dd/yy format. This should be changed to yyyy-mm-dd format

In [127]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

#df.start.apply(lambda x: x.strftime('%Y%m%d')).astype(int)
#df.end.apply(lambda x: x.strftime('%Y%m%d')).astype(int)

In [129]:
df.head()

  level generic     contract      start        end
0    1.     XA2  XAF2 Comdty 2022-01-26 2022-02-19
1    2.     XA2  XAG2 Comdty 2022-02-20 2022-03-19
2    3.     XA2  XAH2 Comdty 2022-03-20 2022-04-19
3    1.     XA3  XAI2 Comdty 2022-04-26 2022-05-19
4    2.     XA3  XAJ2 Comdty 2022-05-20 2022-06-19