# Scrape MOSPRIME and get rates

This script uses the read_html function to read the table after getting it through BS

In [10]:
import pandas as pd
from datetime import datetime, timedelta
from pandas.tseries.offsets import BDay
from bs4 import BeautifulSoup
import requests

In [11]:
## Use Proxy Dictionary if required
proxy_dict = {'http:':'url here:port'}

In [23]:
tdy = datetime.today().date()
ydy = tdy - timedelta(days=1)
today = tdy.strftime('%Y-%m-%d')
yesterday = ydy.strftime('%Y-%m-%d')
url = 'http://mosprime.com/archive?date_from='+yesterday+'&date_to='+yesterday+'&contributor='

In [24]:
print(url)

http://mosprime.com/archive?date_from=2022-03-22&date_to=2022-03-22&contributor=

In [25]:
# Use below if using proxies, else use the second code
#page = requests.get(url, proxies = proxy_dict, verify = false)

page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
tbl = soup.find('table', {"class":"table table-bordered table-condensed arch-table rrr"})

## Read table into dataframe. Rename column name, convert date format

In [37]:
mos_df = pd.read_html(str(tbl), parse_dates=True)[0]
mos_df = mos_df.rename(columns={'Дата':'date'})
mos_df['date'] =pd.to_datetime(mos_df['date']).dt.strftime('%Y-%m-%d')

In [38]:
mos_df.head()

         date     0N     1W     2W     1M     2M     3M     6M
0  2022-03-22  20.58  21.33  21.88  23.06  23.67  24.17  24.46